// Accordion

.accordion__title {
	cursor: default;
	color: $font-color;
	font-size: 1rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:hover {
		.btn {
			background-color: $btn-bg-color-hover;
		}
	}
}

.accordion__panel {
   max-height: 0;
   overflow: hidden;
   transition: max-height $transition;
}