// Inputs

label {
	display: block;
	color: $layout-color;
	font-size: $input-label-font-size;
}

input,
.select__input {
	display: block;
	font-size: $input-font-size;
	color: $input-color;
	border: none;
	border-bottom: 1px solid $btn-border-color;
	padding: 0 0 0.6rem 0;
	margin: 0 0 0.3rem 0;
	transition: border $transition;
	height: 2.2rem;

	&:hover,
	&:focus {
		border-color: $primary-color;
	}
}

// Input
//
.input {
	position: relative;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input__field {
	width: 100%;	
}

.input--prefix {
	.input__field {
		padding-left: 1.2rem;	
	}
}

.input--sufix {
	.input__field {
		padding-right: 0.5rem;	
	}
}

.input__prefix,
.input__sufix {
	color: #B3B3B3;
	font-size: $input-font-size;
	position: absolute;
	line-height: 1.15;
	top: 0;
}

.input__sufix {
	right: 0;
}

.input--label-left {
	display: flex;
	flex-direction: row-reverse;

	.input__field {
		flex: 1 1 auto;
		margin-left: 0.5rem;
		width: 1rem;
	}
}

// Select
//
.select {
	position: relative;

	.icon {
		fill: #999999;
		width: 0.7rem;
		height: 0.7rem;
	}
}

.select__input,
.select__list {
	cursor: default;
}

.select__input {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.is-open + .select__list {
		overflow: visible;
	}
}

.select__list {
	background-color: #FFFFFF;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.select__item {
	border-bottom: 1px solid transparent;
	font-size: 1.3rem;
	padding: 0.2rem 0;
	transition: border $transition;

	&:first-child {
		padding-top: 0.7rem;
	}

	&:last-child {
		padding-bottom: 0.7rem;
	}

	&:hover,
	&:focus {
		border-color: $primary-color;
	}
}

// Select
//
.checkbox {
	display: inline-block;
}

input[type=checkbox] {
    display:none;
}

.checkbox__box {
	width: 1.2rem;
	height: 1.2rem;
	border: 1px solid $input-border-color;
	border-radius: $radius;
	display: block;
	transition: border $transition, background-color $transition;

	&:hover,
	&:focus {
		border-color: $primary-color;
	}
}

input[type=checkbox]:checked + .checkbox__box {
	background-color: $primary-color;
	background-image: url("../icons/checkbox-tick.svg");
	border-color: $primary-color;
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

// Pick color, gradient, shadow
//
.pick {
	border-radius: $radius;
	cursor: pointer;
	width: 1.8rem;
	height: 1.8rem;
}

.pick--color {
	background-color: magenta;
}

.pick--gradient {
	background: linear-gradient(to right, black , gray);
}

.pick--shadow {
	background-color: rgba(100, 100, 100, 0.4);
	background-attachment: scroll, scroll, scroll;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.098) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.098) 75%, rgba(0, 0, 0, 0.098) 0px), linear-gradient(45deg, rgba(0, 0, 0, 0.098) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.098) 75%, rgba(0, 0, 0, 0.098) 0px), none;
	background-repeat: repeat;
	background-position: 0px 0px, 4px 4px;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: 8px 8px;
}