//  Variables

//  Global
//
$font-size: 62.5%; // To set rem base to 10
$font-lineheight: 1.4;
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-weight: 400;
$font-color: #5E5E5E;

//  Colors
//
$light-layout-color: #F6F6F6; // Layout borders
      $layout-color: #B3B3B3; // Input label
 $dark-layout-color: #5E5E5E; // Font

// Effects
//
$transition: 0.15s;

// Sidebar
//
$sidebar-border-color: $light-layout-color;