//  Variables

//  Global
//
$font-size: 62.5%; // To set rem base to 10
$font-lineheight: 1.4;
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-weight: 400;
$font-color: #5E5E5E;

//  Colors
//
$light-layout-color: #F6F6F6; // Layout borders
$layout-color: #B3B3B3;			// Input label
$dark-layout-color: #5E5E5E;  // Font

$primary-color: #006CFF;

// Buttons
//
$btn-bg-color: #FFFFFF;
$btn-bg-color-hover: #F3F3F3;
$btn-border-color: #E6E6E6;

// Inputs
//
$input-font-size: 1.3rem;
$input-color: $font-color;
$input-border-color: #E6E6E6;

$input-label-color: $layout-color;
$input-label-font-size: 1rem;

// Effects
//
$transition: 0.15s linear;

// Sidebar
//
$sidebar-border-color: $light-layout-color;